header {
    background: #aabcfe;
    display: block;
    height: 40px;
    margin: 0px;
    border-radius: 0 0 5px 5px;
    border: 2px solid #b9c9fe;
}

body {
    margin: 0;
}

th {
    font-size: 16px;
    font-weight: normal;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039;
    padding: 8px;
}

td {
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
    padding: 8px;
}

tr:hover td {
    background: #ccddff;
}

table {
    border-collapse: collapse;
}

.div_left {
    float: left;
    margin-left: 50px;
    margin-right: 50px;
}

.div_left input[type=submit] {
    width: 100%;
}

.div_right input[type=submit] {
    width: 100%;
}

.div_right {
    float: right;
    margin-left: 10px;
    margin-right: 200px;
}

.div_center {
    float: left;
    margin-left: 80px;
    margin-right: 80px;
}

.btn {
    display: inline;
    float: left;
    margin: 5px;
}

.btn_right {
    display: inline;
    float: right;
    margin: 5px;
}

.input
{
    float: left;
    margin-left: 50px;
}

.frm {
    width: 230px;
    margin: 30px 0px 30px;
    padding: 10px;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3),
    0 3px 7px rgba(0, 0, 0, 0.3),
    inset 0 1px rgba(255, 255, 255, 1),
    inset 0 -3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: linear-gradient(#eeefef, #ffffff 10%);
}

.enter {
    margin-right: 1%;
    background: #2b8bc7;
    border: 1px solid #2b8bc7;
    color: #ffffff;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    text-decoration: none;
}

.error {
    color: red;
}